# Development Mode
NEXT_PUBLIC_DEV_MODE=

# Site Settings
PASSWORD=
ADMIN_PASSWORD=

# Authentication Settings
# Generate with: openssl rand -base64 32
AUTH_SECRET=
ADMIN_AUTH_SECRET=

# Database Settings
DATABASE_URL=

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

# Registry Settings
REGISTRY_TOKEN=